.doublescale-booking-calendar-events{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    .doublescale-booking-calendar-event{
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            transform: translateY(-5px);
        }
    }
}
.doublescale-booking-calendar-no-events{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: 100%;
    color: #999;
}


.doublescale-booking-calendars-action{
    margin-bottom: 20px;
}