.event-details-container * {
	padding: 0;
	margin: 0;
}

.event-details-container {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ededed;
}

.event-header {
	text-transform: capitalize;
	font-weight: 600;
	color: #1A1A1A;
	font-size: 24px;
}

.event-details {
	padding: 10px 0;
}

.detail-row {
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 400;
	font-size: 16px;
	color: #292D32;
	text-transform: capitalize;
	margin-bottom: 8px;
}

.event-description {
	font-weight: 400;
	font-size: 16px;
	color: #292D32;
	letter-spacing: 0%;
}

.event-duration-multi {
	display: flex;
	gap: 0.5rem;
}

.duration-btn {
	padding: 0.25rem 1rem;
	border-radius: 50px;
	border: none;
	background-color: rgba(168, 85, 247, 0.15);
	color: #9333ea;
	font-size: 0.875rem;
	cursor: pointer;
}

.duration-btn.selected {
	background-color: #9333ea;
	color: white;
}

.link {
	color: #0b69c7;
	text-decoration: underline;
	overflow: hidden;
}
.link:hover {
	text-decoration: none;
}

.product-name {
	font-size: 14px;
	color: #666;
	font-style: italic;
}

@keyframes pulse {
	0% {
		opacity: 0.6;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.6;
	}
}

.detail-row p:has(+ .loading) {
	animation: pulse 1.5s infinite ease-in-out;
}
