.qcrm-contacts-list {
	&__avatar {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #0073aa;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			fill: #fff;
		}
	}
	&__actions {
		padding: 20px;
		margin-bottom: 20px;
		border-radius: 8px;
		border: 1px solid #DEE1E6;
	}
	&__filters {
		padding: 10px;
		margin-bottom: 20px;
		border-radius: 6px;
		background-color: #f7f9ff;
	}
}
