.form-label p {
	margin: 0;
	font-weight: 700;
	font-size: 16px;
}

.required {
	color: #ef4444;
}

.help-text {
	font-size: 14px;
	color: #6b7280;
}

.checkbox-field {
	display: flex;
	align-items: center;
	gap: 10px;
}

.form-control {
	width: 100% !important;
}


