.qcrm-campaign-overview {
	.ant-card {
		flex: 1;
	}
}
.qcrm-analytics-count {
	font-size: 28px;
}
.template-body-preview {
	padding: 16px;
	background: #f5f5f5;
	border-radius: 4px;
	max-height: 400px;
	overflow: auto;
}
