.qcrm-dashboard {
	.qcrm-dashboard-card {
		flex: 1;
	}
	.qcrm-dashboard-card-icon {
		padding: 5px;
		border-radius: 50%;
		background-color: #f5f5f5;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.qcrm-dashboard-card-value {
		font-size: 28px;
	}
}
.qcrm-dashboard-card {
	flex: 1;
}
.qcrm-dashboard-card-icon {
	padding: 5px;
	border-radius: 50%;
	background-color: #f5f5f5;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.qcrm-dashboard-card-value {
	font-size: 28px;
}
