.doublescale-booking-field-badge {
	display: inline-block;
	padding: 0 10px;
	border-radius: 5px;
	background-color: #f1f1f1;
	color: #333;
	font-size: 12px;
	margin-right: 5px;
	cursor: pointer;
	transition: all 0.3s;
}
