.doublescale-automation-workflow {
    position: relative;

    &__item {
        position: relative;
    }

    &__card {
        &-icon {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: var(--doublescale-color-primary);
            color: #fff;
        }

        &-title {
            font-weight: 500;
        }
    }

    &__condition {
        &-yes {
            border-color: #4caf50;
        }

        &-no {
            border-color: #f44336;
        }
    }
}