.qcrm-filter {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
	.qcrm-filter-row {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 15px;
		padding: 10px 0;
	}
}
