.qcrm-fields {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	.qcrm-field {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		&.inline {
			flex-direction: row;
			align-items: center;
			padding-bottom: 10px;
			border-bottom: 1px solid rgb(237, 240, 247);
			&:last-child {
				border-bottom: none;
			}
		}
		.qcrm-field-label {
			display: inline-flex;
		}
		&.qcrm-field-group {
			display: flex;
			flex-direction: row;
			gap: 10px;
		}
	}
}

.qcrm-contact-profile {
	display: flex;
	gap: 20px;
	flex-direction: column;
	width: 100%;
}

.ant-modal-root,
.qcrm-layout {
	.ant-input-outlined {
		background: #ffffff;
		border-width: 1px;
		border-style: solid;
		border-color: #d9d9d9;
	}
	.ant-input {
		box-sizing: border-box;
		margin: 0;
		padding: 4px 11px;
		color: rgba(0, 0, 0, 0.88);
		font-size: 14px;
		line-height: 1.5714285714285714;
		list-style: none;
		position: relative;
		display: inline-block;
		width: 100%;
		min-width: 0;
		border-radius: 4px;
		transition: all 0.2s;
		min-height: 40px;
	}
}

.ant-card-body {
	width: 100%;
}
.qcrm-contact-overview-card {
	display: flex;
	margin-bottom: 40px;
	width: 100%;
	.ant-typography {
		margin-top: 0;
	}
	.qcrm-contact-overview {
		display: flex;
		gap: 50px;
		.qcrm-contact-overview-avatar {
			display: flex;
			align-items: center;
			gap: 20px;
		}
		.qcrm-contact-overview-lists,
		.qcrm-contact-overview-tags {
			display: flex;
			gap: 10px;
		}
	}
}
