.custom-checkbox .ant-checkbox-inner {
  width: 22px;
  height: 22px;
  border-color: #3A3A99 !important;
}

.custom-checkbox .ant-checkbox-inner:hover {
  background-color: #E8E2FB!important;
  border-color: #3A3A99 !important;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #3A3A99!important;
  border-color: #3A3A99 !important;
}


.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  inset-inline-start: 33%;
}