.doublescale-contacts-automations-list__actions {
	display: flex;
	gap: 12px;
	margin-bottom: 16px;
	padding: 16px;
	justify-content: space-between;
	background-color: hsl(0 0% 100%);
	border: 1px solid hsl(220 13% 91% / 0.6);
	border-radius: 12px;
}
