.doublescale-lead-scoring {
	width: 100%;
	min-width: 0;
	
	.hide-scrollbar {
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE and Edge */
		
		&::-webkit-scrollbar {
			display: none; /* Chrome, Safari, Opera */
		}
	}
}
