.ant-modal-header {
	display: flex !important;
	align-items: center !important;
	justify-content: space-between !important;
}

.ant-form-item {
	margin-bottom: 10px;
}

.ant-checkbox-label {
	width: 100% !important;
}
