.doublescale-pro-stat-card {
	position: relative;
	flex: 1;
	min-width: 0;

	&__pro-feature {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background: hsla(0, 0%, 100%, 0.7);
		backdrop-filter: blur(4px);
		border-radius: 0.75rem;
		pointer-events: none;
	}
}

.doublescale-pro-stat-card .text-2xl,
.doublescale-pro-stat-card .text-3xl {
	filter: blur(4px) !important;
	-webkit-user-select: none;
	user-select: none;
}
