.qcrm-pro-trigger-modal {
	.qcrm-pro-trigger-modal__content {
		padding: 1rem 0;
	}

	.qcrm-pro-trigger-modal__trigger-info {
		margin: 1.5rem 0;
	}

	.qcrm-pro-trigger-modal__actions {
		margin-top: 1.5rem;
	}
}

